.search_fields {
  margin: 20px 0;
}

.input_container {
  display: flex;
}

.input_field {
  padding: 5px;
  margin-bottom: 5px;
  border: 3px solid #05595b;
  border-radius: 5px;
  width: 100%;
}

.autocomp {
  width: 100%;
}

.submit_field {
  display: block;
  padding: 5px;
  width: 30%;
  cursor: pointer;
  border: 3px solid #05595b;
  border-radius: 5px;
  background-color: #f8f0b1;
  float: right;
}

.submit_field:hover {
  background-color: #f8f0b1;
  color: #05595b;
  font-size: 110%;
}

.suggestion {
  cursor: pointer;
  border: 1px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
}

.suggestion:hover {
  background-color: grey;
}

.autocomp_container {
  position: relative;
}

.suggestion_container {
  position: absolute;
  top: 30px;
  z-index: 1001;
  width: 100%;
}
