.search_fields {
  margin: 20px 0;
}

.input_container {
  display: flex;
}

.input_field {
  padding: 5px;
  margin-bottom: 5px;
  border: 3px solid #05595b;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

.autocomp {
  width: 100%;
}

.submit_field {
  display: block;
  padding: 5px;
  width: 20%;
  cursor: pointer;
  border: 3px solid #05595b;
  border-radius: 5px;
  background-color: #05595b;
  float: right;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  color: #ffff;
}

.submit_field:hover {
  background-color: #e2d784;
  color: #05595b;
  font-size: 120%;
}

.suggestion {
  cursor: pointer;
  border: 1px;
  font-size: 20px;
  padding: 4px;
  height: 50px;
  display: flex;
  align-items: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
}

.suggestion:hover {
  background-color: grey;
}

.autocomp_container {
  position: relative;
}

.suggestion_container {
  position: absolute;
  top: 50px;
  z-index: 1001;
  width: 100%;
}
