.single_trip {
  cursor: pointer;
  height: 61px;
  width: 100%;
  background-color: #05595b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.single_trip_heading {
  position: relative;
  left: 10px;
  top: 10px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
}

.trip_details {
  border: 2px solid #05595b;
  border-radius: 10px;

  height: 203px;
  width: 100%;
}

.trip_overview {
  display: flex;
  width: 60%;
  align-items: center;
}

.circle {
  display: flex;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.icon_leafs {
  display: flex;
  width: 30px;
  height: 30px;
}

.icon_transportation_time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip_time {
  color: #ffffff;
}

.icon_transportation_time img {
  width: 15px;
height: auto;
}

.transportation_icon{
  width: 22px;
  padding: 4px;
  /* background: #062c30;
  border-radius: 40%;
 object-fit: fill; */
}

.transportation_icon_container {

  z-index: 1; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  background: #062c30;
  border-radius: 40%; 
}